.new-user-main
  .new-user-main__box
    .new-user-main__box__title
      会員登録完了
    .new-user-main__box__contents
      .new-user-main__box__contents__form
        .new-user-main__box__contents__form__text
          %p ありがとうございます。
          %br/
          %p 会員登録が完了しました。

        .actions
          = link_to "メルカリを始める", root_path, class:"done-btn"