.mypage
  =render "user-side"
  .mypage__right

    .mypage__right__top
      .mypage__right__top__user
        .mypage__right__top__user__box
          .mypage__right__top__user__box__icon
          .mypage__right__top__user__box__name
            name
          .mypage__right__top__user__box__bottom
            .mypage__right__top__user__box__bottom__review
              評価
            .mypage__right__top__user__box__bottom__product
              出品数
      .mypage__right__top__tabs
        %input#infomation{name: "mypage__right__top__tab_item", type: "radio"}/
        %label.mypage__right__top__tab_item{for: "infomation"} お知らせ
        %input#todo{name: "mypage__right__top__tab_item",type: "radio"}/
        %label.mypage__right__top__tab_item{for: "todo"} やることリスト
        #infomation_content.mypage__right__top__tab_content
          .mypage__right__top__tab_content_description
            %p.c-txtsp お知らせがここに入ります
        #todo_content.mypage__right__top__tab_content
          .mypage__right__top__tab_content_description
            %p.c-txtsp やることリストがここに入ります

      .mypage__right__top__show-all
        .mypage__right__top__show-all__btn
          = link_to '一覧に戻る', '#'
      

    .mypage__right__buttom
      .mypage__right__buttom__title
        購入した商品
      .mypage__right__buttom__tabs
        %input#trading{name: "mypage__right__buttom__tab_item", type: "radio"}/
        %label.mypage__right__buttom__tab_item{for: "trading"} 取引中
        %input#past{name: "mypage__right__buttom__tab_item", type: "radio"}/
        %label.mypage__right__buttom__tab_item{for: "past"} 過去の取引
        #trading_content.mypage__right__buttom__tab_content
          .mypage__right__buttom__tab_content_description
            %p.c-txtsp 取引中の内容がここに入ります
        #past_content.mypage__right__buttom__tab_content
          .mypage__right__buttom__tab_content_description
            %p.c-txtsp 過去の取引の内容がここに入ります

