
 


.main_header{
  background-color: aqua;
  width: 100%;
  margin: 0px auto;
  max-width: 700px;
  padding: 56px 0px 30px;
  
  
  .header_upper{
    background-color: rgb(241, 146, 241);
    padding: 65px 0px 30px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;

    }
  .header_low{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    li{
      list-style: none;
      background-color: grey;
      
      
      

      
         

          
    }
    }
    
  }


  
  




