.product__show__wrapper
  .product__show
    .product__show__title
      寅壱　デニム
    .product__show__detail
      .product__show__detail__picture
        = image_tag 'denim.png', size: '300x270'
      .product__show__detail__table
    

  .product__show__comments

  .product__show__move
    チョコレートフォンデュポット
    スタッドレス 中古
  .product__show__sns
    FB Twitter
  .otherproduct--in_user
    〇〇さんのその他の出品
  .otherproduct--in_category
    Gジャン その他の商品