.new-phone-number{
  background-color: rgb(239, 239, 239);
  &__box{
    max-width: 550px;
    margin: auto;
    &__title{
      text-align: center;
      height: 40px;
      font-size: 20px;
      padding: 32px;
      background-color: white;
    }
    &__content{
      background-color: white;
      margin-top: 5px;
      height: 300px;
      padding: 32px;
      &__form{
        max-width: 300px;
        margin: auto;
      }
    }
  }
}

.default-text{
  height: 20px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 15px;
  margin: 8px 0 0;
  width: 100%;
}

.form-group{
  font-size: 15px;
}