.footer__top
  .footer__top__message
    %h3 スマホでかんたんフリマアプリ
    %h2 今すぐ無料ダウンロード！
  .footer__top__link

.footer__under
  .footer__under1

  .footer__under2

  .footer__under3

  .footer__under4

  .footer__under5