.main-header
  .main-header__top
    .main-header__top__title
      %i.fab.fa-meetup
      = link_to 'mercari', ''

    %form#main-header__top__form{:action => "", :method => ""}
      %input#main-header__top__form__text{:name => "s", :placeholder => "何かお探しですか？", :type => "text"}/
      %button#main-header__top__form__btn{:type => "submit"}
        %i.fas.fa-search



  .main-header__bottom
    .main-header__bottom__left
      %ul#dropmenu
        %li
          %a{:href => "#"} カテゴリーから探す
          %ul
            %li
              %a{:href => "#"} レディース
              %ul
                %li
                  %a{:href => "#"} トップス
                  %ul
                    %li
                      %a{:href => "#"} Tシャツ/カットソー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} メンズ
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} ベビー・キッズ
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} インテリア・住まい・小物
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} 本・音楽・ゲーム
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} おもちゃ・ホビー・グッズ
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} カテゴリ一覧
        %li
          %a{:href => "#"} ブランドから探す
          %ul
            %li
              %a{:href => "#"} シャネル
            %li
              %a{:href => "#"} ナイキ
            %li
              %a{:href => "#"} ルイ ヴィトン
            %li
              %a{:href => "#"} アディダス
            %li
              %a{:href => "#"} ブランド一覧

    .main-header__bottom__right
      %ul#dropmenu
        %li
          %a{:href => "#"} いいね一覧

        %li
          %a{:href => "#"} お知らせ
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
        %li
          %a{:href => "#"} やることリスト
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
        %li
          %a{:href => "#"} マイページ
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー


    