.main-header
  .main-header__top
    .main-header__top__title
      %i.fab.fa-meetup
      = link_to 'mercari', ''

    %form#main-header__top__form{:action => "", :method => ""}
      %input#main-header__top__form__text{:name => "s", :placeholder => "何かお探しですか？", :type => "text"}/
      %button#main-header__top__form__btn{:type => "submit"}
        %i.fas.fa-search



  .main-header__bottom
    .main-header__bottom__left
      %ul#dropmenu
        %li
          %a{:href => "#"} カテゴリーから探す
          %ul
            %li
              %a{:href => "#"} サブメニュー
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} サブメニュー
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} サブメニュー
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                  %ul
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                    %li
                      %a{:href => "#"} サブサブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
            %li
              %a{:href => "#"} サブメニュー
              %ul
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
                %li
                  %a{:href => "#"} サブサブメニュー
        %li
          %a{:href => "#"} ブランドから探す
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー

    .main-header__bottom__right
      %ul#dropmenu
        %li
          %a{:href => "#"} いいね一覧

        %li
          %a{:href => "#"} お知らせ
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
        %li
          %a{:href => "#"} やることリスト
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
        %li
          %a{:href => "#"} マイページ
          %ul
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー
            %li
              %a{:href => "#"} サブメニュー


    